.container {
  position: relative;

}
at-scene {
  height: 480px;
  display: block;
}
.kabukuLogo {
  width: 100px;
  filter: brightness(0) invert(1);
}

.startButton {
  font-size: xx-large;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  75% {
    opacity: 0.0;
  }
}


