<form [formGroup]="form" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px">
  <mat-checkbox formControlName="debug">デバッグ</mat-checkbox>
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10px" formGroupName="arSourceOptions">
    <mat-form-field>
      <mat-label>タイプ</mat-label>
      <mat-select required>
        <mat-option value="webcam">Webカメラ</mat-option>
        <mat-option value="video">動画ファイル</mat-option>
        <mat-option value="image">画像ファイル</mat-option>
        <mat-option value="stream">ストリーム</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="sourceType.value === 'stream'">
      <mat-form-field>
        <mat-label>接続先ホスト名(ポート付き)</mat-label>
        <input matInput formControlName="hostPath">
      </mat-form-field>
      <mat-form-field>
        <mat-label>シグナリングサーバパス</mat-label>
        <input matInput formControlName="signalingPath">
      </mat-form-field>
    </div>
    <mat-form-field *ngIf="sourceType.value === 'image' || sourceType.value === 'video'">
      <mat-label>リソースURL</mat-label>
      <input matInput formControlName="sourceURL">
    </mat-form-field>
    <mat-form-field>
      <mat-label>元画像のwidth</mat-label>
      <input matInput formControlName="sourceWidth">
    </mat-form-field>
    <mat-form-field>
      <mat-label>元画像のheight</mat-label>
      <input matInput formControlName="sourceHeight">
    </mat-form-field>
    <mat-form-field>
      <mat-label>表示width</mat-label>
      <input matInput formControlName="displayWidth">
    </mat-form-field>
    <mat-form-field>
      <mat-label>表示height</mat-label>
      <input matInput formControlName="displayHeight">
    </mat-form-field>
  </div>
</form>
